{{ partial "head" . }}

<body>
  <div id="wrap">
    {{ partial "header" . }}
    <section id="about">
      <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer.</h3>
        <h3>I currently work at <strong>Globo.com</strong> streaming live video.</h3>
        <h3> <strong>Rio de Janeiro</strong> based.</h3>
        {{ partial "social.html" . }}
      </div>
    </section>
  </div>
  {{ partial "footer" . }}
</body>

</html>
